html, body {
  margin: 50px;
  padding: 0px;
}

section#navigation {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

section#navigation .button {
  font-size: 20px;
  text-align: center;
}

section#introduction {
  display: inline-block;
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}
section#introduction .row {
  padding: 0px;
  margin: 0px;
}
section#introduction .row .text {
  text-align: auto;
  text-justify: inter-ideograph;
  padding: 20px 20px 0px 0px;
}
section#introduction .row .photo img {
  position: absolute;
  top:300px;
  right: 100px;
  width: 25%;
}

section#footer {
  background-color: rgba(128, 128, 128, 0.2);
}

section#footer .row {
  padding: 10px;
  margin: 10px;
}

section#footer .row .icon {
  margin-right: 30px;
}
